<!DOCTYPE html>
<html>
<head>
    <link href="/static/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css">
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
    <script type="text/javascript" src="/static/underscore.js"></script>
    <script type="text/javascript" src="/static/backbone.js"></script>
    <script type="text/javascript" src="/static/socket.io.js"></script>
    <script type="text/javascript" src="/static/chirp.js"></script>

    <title>Chirp</title>
</head>
<body>
    <div class="container" style="width:500px">
        <div class="row">
            <form id="new_chirp">
                <label for="text_input">New chirp:</label>
                <input type="text" id="text_input">
                <input type="submit">
                <span id="new_chirp_success" style="display:none">Success!</span>
            </form>
            <button id="clear_chirps">Clear all chirps</button>
            <hr>
            <p>Recent chirps:</p>
            <div id="chirp-list"></div>
        </div>
    </div>
    <script type="text/template" id="chirp-template">
        <span class="msg"><%= msg %></span> <span class="ts"><%= ts %></span>
    </script>
</body>
</html>